.hamburger {
  font-size: 2rem;
  color: $secondary-color;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotate-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: $secondary-color;
  padding: 2rem 1rem;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 1000;
  overflow-y: auto;

  &.active {
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1.5rem;

      a {
        color: $text-color;
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
        transition: color 0.3s;

        &:hover {
          color: lighten($text-color, 20%);
        }
      }
    }
  }
}
